@model PruebaTecnica.Models.RolEditViewModel
@{
    ViewBag.Title = "Editar Rol";
}

<div style="
                        display: grid;
                        align-items: center;
                        justify-items: flex-start;
                        width: auto;
                        margin: 15px;
                        padding: 35px;
                        border-radius: 10px;">
    <div style="display: grid;align-items: center;justify-items: center;width: 100%;">

        @using (Html.BeginForm("Edit", "Rol", FormMethod.Post, new { role = "form", @class = "" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationMessage("error", new { @class = "text-danger" })
            @Html.HiddenFor(d => d.Id)
            @Html.LabelFor(d => d.Rol)
            @Html.TextBoxFor(d => d.Rol, new { @class = "form-control" })
            @Html.ValidationMessage("Rol", new { @class = "text-danger" }) <br />

            <div style="text-align:right;">
                <input type="submit" class="btn btn-success" value="Guardar" />
            </div>
        }

    </div>

</div>


