@model PruebaTecnica.Models.UserEditViewModel
@{
    ViewBag.Title = "Add";
}

<div style="
                        display: grid;
                        align-items: center;
                        justify-items: flex-start;
                        width: auto;
                        margin: 15px;
                        padding: 35px;
                        border-radius: 10px;">
    <div style="display: grid;align-items: center;justify-items: center;width: 100%;">

        @using (Html.BeginForm("Edit", "User", FormMethod.Post, new { role = "form", @class = "" }))
        {
            @Html.HiddenFor(d => d.Id)
            @Html.AntiForgeryToken()
            @Html.ValidationMessage("error", new { @class = "text-danger" })

            @Html.LabelFor(d => d.Nombre)
            @Html.TextBoxFor(d => d.Nombre, new { @class = "form-control" })
            @Html.ValidationMessage("Nombre", new { @class = "text-danger" }) <br />

            @Html.LabelFor(d => d.Usuario)
            @Html.TextBoxFor(d => d.Usuario, new { @class = "form-control" })
            @Html.ValidationMessage("Usuario", new { @class = "text-danger" }) <br />

            @Html.LabelFor(d => d.Email)
            @Html.TextBoxFor(d => d.Email, new { @class = "form-control" })
            @Html.ValidationMessage("Email", new { @class = "text-danger" }) <br />

            @Html.LabelFor(d => d.Celular)
            @Html.TextBoxFor(d => d.Celular, new { @class = "form-control" })
            @Html.ValidationMessage("Celular", new { @class = "text-danger" }) <br />

            <div style="text-align:right;">
                <input type="submit" class="btn btn-success" value="Guardar" />
            </div>
        }

    </div>

</div>

